<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirkowu.baselibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Glide配置文件 -->
        <!-- Glide配置文件 -->
        <!-- Glide配置文件 -->
        <meta-data
            android:name="com.mirkowu.baselibrary.utils.MyGlideModule"
            android:value="GlideModule" />
        <!-- Glide配置文件 -->
        <!-- Glide配置文件 -->
        <!-- Glide配置文件 -->
        <!-- android:windowSoftInputMode="adjustPan|stateHidden" -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="locale|layoutDirection|keyboard"></activity>
        <activity
            android:name=".ui.TestToolbarActivity"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.testMvp.TestMvpActivity" />
        <activity android:name=".ui.testRefresh.TestRefreshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>